
.menu__link{
    color: #808080;
    /* espacio entre letras del menu */
    margin-right: 1.25rem;
/* decoracion de link */
    text-decoration: none;
}

.menu__link.activo{
color: #333333;
}

.menu__link:hover{
    text-decoration: underline;
}