.banner__titulo{
/* le da color al aletra */
color: #fdfdfd;
/* le da el tipo de letra */
font-family: Pacifico,cursive;
/* tamaño de la letra */
font-size: 5.0625rem;


position: absolute;
/* corre horizontalmente la letra */
left: 50%;
text-shadow: 0 4px 4px rgba(0,0,0,0.75);
/* corre verticalmente la letra */
top: 50%;
text-align: center;
/* La combinación de left: 50%; y top: 50%; junto con transform: translate(-50%,-50%); logra que el elemento esté centrado tanto horizontal como verticalmente dentro de su contenedor. */
transform: translate(-50%,-50%);
width: 100%;
}