.cabecera{

    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
/* para separar el logo del menu del navegador     */
    padding-left: 2rem;
    padding-right: 2rem;

}

.menu__lista{

display: flex;

justify-content: space-between;

}

.menu__items{

/* quitar decoracion de link */
list-style: none;


}

.menu__link{
    color: #808080;
    /* espacio entre letras del menu */
    margin-right: 1.25rem;
/* decoracion de link */
    text-decoration: none;
}

.menu__link.activo{
color: #333333;
}

.menu__link:hover{
    text-decoration: underline;
}